@model List<DuckI.Models.RemovedLog>

<link rel="stylesheet" href="~/css/pdf.css" asp-append-version="true">

<div class="container d-flex justify-content-center pt-5 row-cols-1">

    <div class="d-flex flex-column justify-content-center gap-4">

        <h1 class="fw-bold text-primary align-self-center">Removed PDFs</h1>

        <div class="d-flex gap-3 align-items-center">
            <img src="~/images/trash-can-regular-blue.svg" alt="Logo" class="icon"/>
            <p class="text-break mt-3">List of removed PDFs</p>
        </div>

        <div class="table-size-2 bg-table rounded">
            <table id="tableId" class="table my-4 d-table">
                <tbody id="pdfTableBody" class="d-flex flex-column gap-2">
                <tr id="tableHead" class="table-head">
                    <td class="d-xxl-flex d-none mx-3 gap-5 bg-secondary align-items-center rounded text-light">
                        <div class="name-size-2" style="min-width: 17em">
                            Username
                        </div>
                        <div style="min-width: 20em">
                            Description
                        </div>
                        <div class="element-width1 w-100 name-size-1">
                            File name
                        </div>
                    </td>
                </tr>
                @foreach (var log in Model)
                {
                    <tr>
                        <td class="d-flex flex-wrap flex-xxl-nowrap mx-3 gap-lg-5 gap-2 table-primary align-items-center rounded text-light">
                            <div class="name-size-2" style="min-width: 17em">
                                @log.Reviewer.UserName
                            </div>
                            <div style="min-width: 20em">
                                <textarea class="resize-disable rounded desc" name="description" rows="3" cols="35" disabled required>@log.Description</textarea>
                            </div>
                            <div class="element-width1 w-100 name-size-1">
                                @log.FileName
                            </div>
                        </td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/viewRemovedLogs.js" asp-append-version="true"></script>
}
