@{
    ViewData["Title"] = "Tags";
    var tagStatus = TempData["TagAdded"] as bool?;
}

<link rel="stylesheet" href="~/css/controlPanelTags.css" asp-append-version="true">

<div class="container d-flex justify-content-center m-lg-0 m-1 p-lg-5">
    <div class="d-flex flex-column gap-3">
        
        <h1 class="fw-bold text-primary">Tags</h1>
        <div class="d-flex flex-row gap-lg-4 gap-0">
            <img src="~/images/tag-solid.svg" alt="Logo" class="icon p-3"/>
            <div class="d-flex flex-column gap-0">
                <p class="p-text">Tags are a great way of differentiating material and making it easier <br/>
                    for students to find what source material they need.</p>
                <p>To view, add and remove tags, use the features below.</p>
            </div>
        </div>
        
        <form asp-action="AddTag" asp-controller="Admin" method="post" class="d-flex flex-row gap-lg-3 gap-1">
            <div class="form-group w-75">
                <label for="tagName">To add tags, enter the name below and click <span class="text-primary">Add</span>:</label>
                <input type="text" class="form-control form-bg-color" id="tagName" name="tagName" placeholder="Tag name" required />
            </div>
            <button type="submit" class="btn btn-primary mt-4">Add Tag</button>
        </form>
        
        <form asp-action="GetAllTags" asp-controller="Admin" method="post" class="mt-lg-3 mt-0">
            <button type="submit" class="btn btn-primary btn-lg">Show all tags</button>
        </form>

        @if (ViewBag.Tags != null)
        {
            <div>
                <h5>All tags</h5>
                <ul class="d-flex flex-column gap-2 tag-ul">
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <li class="tag-li rounded"><img src="~/images/tag-solid-black.svg" alt="Logo" class="icon2 p-2 me-2"/>@tag.TagId - <span class="tag-span">@tag.TagName</span></li>
                    }
                </ul>
            </div>
        }

        @if (tagStatus == true)
        {
            <script>
        alert('Successfully added tag!');
    </script>
        }
        
    </div>
</div>