@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="/css/login.css" asp-append-version="true">

<div class="container card-container">

    <div class="card card-design">


        <div class="card-body">
            <div class="card-title card-container">
                <img src="~/images/Ducki_1.png" class="w-25" alt="DuckI">
                <h1 class="text-primary fw-bold">DuckI</h1>
            </div>
            <h4 class="card-subtitle text-center text-primary">@ViewData["Title"]</h4>
            <h5 id="external-login-title" class="card-subtitle text-center text-primary">Associate your @Model.ProviderDisplayName account</h5>

            <p id="external-login-description" class="text-info" class="text-center">
                You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                Please enter an email address for this site below and click the Register button to finish
                logging in.
            </p>

            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control form-bg-color" autocomplete="email" placeholder="Please enter your email."/>
                    <label asp-for="Input.Email" class="form-label form-text-color"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="text-center mb-3 mt-4">
                    <button type="submit" class="w-50 btn btn-sm btn-primary rounded-3 button-text-size">Register</button>
                </div>
                
            </form>

        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
