@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" href="/css/login.css" asp-append-version="true">

<div class="container card-container">

    <div class="card card-design">


        <div class="card-body">
            <div class="card-title card-container">
                <img src="~/images/Ducki_1.png" class="w-25" alt="DuckI">
                <h1 class="text-primary fw-bold">DuckI</h1>
            </div>
            <h4 class="card-subtitle text-center text-primary">@ViewData["Title"]</h4>
            <h5 class="card-subtitle text-center text-primary">Please check your email to reset your password</h5>

        </div>
    </div>
</div>
