@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<link rel="stylesheet" href="/css/login.css" asp-append-version="true">

<div class="container card-container">

    <div class="card card-design">


        <div class="card-body">
            <div class="card-title card-container">
                <img src="~/images/Ducki_1.png" class="w-25" alt="DuckI">
                <h1 class="text-primary">DuckI</h1>
            </div>
            <h4 class="card-subtitle text-center text-primary text-danger">@ViewData["Title"]</h4>
            <h5 class="card-subtitle text-center text-primary">This account has been locked out, please try again later</h5>
            


            

        </div>
    </div>



</div>
