@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<link rel="stylesheet" href="/css/login.css" asp-append-version="true">

<div class="container card-container">

    <div class="card card-design">
        
        <div class="card-body">
            <div class="card-title card-container">
                <img src="~/images/Ducki_1.png" class="w-25" alt="DuckI">
                <h1 class="text-primary fw-bold">DuckI</h1>
            </div>
            <h4 class="card-subtitle text-center text-primary">@ViewData["Title"]</h4>

            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form class="form-inline text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="w-50 btn btn-sm btn-primary rounded-3 button-text-size">Click here to Logout</button>
                    </form>
                }
                else
                {
                    <p class="text-center">You have successfully logged out of the application.</p>
                }
            }
        </div>
    </div>

</div>
