@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<link rel="stylesheet" href="/css/login.css" asp-append-version="true">

<div class="container card-container">

    <div class="card card-design">


        <div class="card-body">
            <div class="card-title card-container">
                <img src="~/images/Ducki_1.png" class="w-25" alt="DuckI">
                <h1 class="text-primary fw-bold">DuckI</h1>
            </div>
            <h4 class="card-subtitle text-center text-primary">@ViewData["Title"]</h4>
            <h5 class="card-subtitle text-center text-primary">Reset your password</h5>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control form-bg-color" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label form-text-color"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control form-bg-color" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                    <label asp-for="Input.Password" class="form-label form-text-color"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control form-bg-color" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                    <label asp-for="Input.ConfirmPassword" class="form-label form-text-color"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="w-50 btn btn-sm btn-primary rounded-3 button-text-size">Reset</button>
                </div>
                
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
