@{
    ViewData["Title"] = "Home Page";
    var uploadSuccess = TempData["UploadSuccess"] as bool?;
}

<div class="text-center">
    <h1 class="display-4">Welcome To DuckI</h1>
</div>

@if (User.IsInRole("Student"))
{
    <link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true"/>
    
    <div class="text-center">
        <h1 class="display-4">Student</h1>
        <p>Enjoy your stay!</p>
    </div>
    <div class="text-center">
        <button onclick="window.location.href='@Url.Action("UploadCalendar", "Home")'" class="btn btn-primary">Upload Calendar</button>
    </div>
    <div class="text-center">
        <button id="fetchCalendarButton" class="btn btn-primary mt-3">Fetch Calendar</button>
    </div>

    <!-- Calendar Container -->
    <div id="calendarContainer" class="container mt-3" style="display:none;">
        <div class="d-flex justify-content-between mb-2">
            <button id="prevMonthButton" class="btn btn-primary">Previous Month</button>

            <span id="monthLabel" class="d-flex align-items-center justify-content-center" style="font-size: 1.2em;"></span>

            <button id="nextMonthButton" class="btn btn-primary">Next Month</button>
        </div>

        <!-- Days of the week headers -->
        <div class="row text-center">
            <div class="col">MON</div>
            <div class="col">TUE</div>
            <div class="col">WED</div>
            <div class="col">THU</div>
            <div class="col">FRI</div>
            <div class="col">SAT</div>
            <div class="col">SUN</div>
        </div>

        <!-- Calendar grid using Bootstrap row-cols-7 -->
        <div id="calendarGrid" class="row row-cols-7 g-0"></div>
    </div>
}

@* This script attaches getcalendar route to the fetch calendar button and changes content of calendarContent div *@
@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script>
        @if (uploadSuccess == true)
        {
            <text>alert('File successfully updated!');</text>
        }
    </script>
}