<!-- This has to be added if we want to perform role based operations in the view -->
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DuckI</h1>
</div>

@if(User.IsInRole("Student"))
{
    <div class="text-center">
        <h1 class="display-4">Student</h1>
        <p>Enjoy your stay!</p>
    </div>
}