@{
    ViewData["Title"] = "Apply For Role";
    var appliedForRole = TempData["AppliedForRole"] as bool?;
    var userRoleStatus = TempData["UserRoleStatus"];
}

<link rel="stylesheet" href="~/css/roles.css" asp-append-version="true">

<div class="container card-container">

    <div class="card card-design">

        <div class="card-body">
            <div class="card-title card-container">
                <img src="~/images/Ducki_1.png" class="w-25" alt="DuckI">
                <h1 class="text-primary fw-bold">DuckI</h1>
            </div>
            <h2 class="card-subtitle text-center text-primary">Application form</h2>

            <p>On this page you will have to apply for the Educator or Reviewer role.<br/>
                An Educator is someone who provides information and relevant materials for students to learn from.<br/>
                A Reviewer scouts all public material and checks their credibility and quality.</p>

            <p>Get a <strong>Student</strong> role by clicking the button below.</p>

            <form class="text-start mb-3" asp-action="AddUserToSuperStudentRole" asp-controller="Home" method="post">
                <input type="hidden" name="roleName" value="SuperStudent" />
                @if (userRoleStatus == "Unknown")
                {
                    <button type="submit" class="btn btn-sm btn-primary">Get Student Role</button>
                }
                else
                {
                    <button type="submit" class="btn btn-sm btn-primary" disabled>Get Student Role</button>
                }
            </form>

            <form asp-action="AddUserRoleStatus" asp-controller="Home" method="post" class="apply-role">
                <input type="hidden" name="roleName" value="Educator" />
                <div class="form-group">
                    <label for="description" class="fw-bold">Educator</label>
                    <p>If you're applying for the Educator role, please enter any relevant information in the field below.</p>
                    @if (userRoleStatus == "Unknown")
                    {
                        <textarea id="textarea1" name="description" class="form-control resize-disable form-bg-color" placeholder="Write a bit about yourself..." rows="5"></textarea>
                    }
                    else
                    {
                        <textarea id="textarea1" name="description" class="form-control resize-disable form-bg-color" placeholder="Write a bit about yourself..." rows="5" disabled></textarea>
                    }
                </div>
                <div class="button-role mt-lg-4 mt-5 pt-lg-0 pt-5">
                    <button id="EducatorReset" type="button" class="btn btn-primary" disabled>Reset</button>
                    @if (userRoleStatus == "Unknown")
                    {
                        <button type="submit" class="btn btn-primary">Send</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" disabled>Send</button>
                    }
                </div>
            </form>

            <form asp-action="AddUserRoleStatus" asp-controller="Home" method="post" class="apply-role mt-4">
                <input type="hidden" name="roleName" value="Reviewer" />
                <div class="form-group">
                    <label for="description" class="fw-bold">Reviewer</label>
                    <p>If you're applying for the Reviewer role, please enter any relevant information in the field below.</p>
                    @if (userRoleStatus == "Unknown")
                    {
                        <textarea id="textarea2" name="description" class="form-control resize-disable form-bg-color" placeholder="Write a bit about yourself..." rows="5"></textarea>
                    }
                    else
                    {
                        <textarea id="textarea2" name="description" class="form-control resize-disable form-bg-color" placeholder="Write a bit about yourself..." rows="5" disabled></textarea>
                    }
                </div>
                <div class="button-role mt-lg-4 mt-5 pt-lg-0 pt-5">
                    <button id="ReviewerReset" type="button" class="btn btn-primary" disabled>Reset</button>
                    @if (userRoleStatus == "Unknown")
                    {
                        <button type="submit" class="btn btn-primary">Send</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" disabled>Send</button>
                    }
                </div>
            </form>
            
            @if (userRoleStatus == "Unknown")
            {
                <p class="text-center fw-bold mt-1">Appliement is either rejected or you haven't yet applied for the role.</p>
            }
            @if (userRoleStatus != "Unknown")
            {
                <p class="text-center fw-bold mt-1">Status: @userRoleStatus</p>
            }
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/js/roles.js" asp-append-version="true"></script>
}