@{
    ViewData["Title"] = "Apply For Role";
    var appliedForRole = TempData["AppliedForRole"] as bool?;
    var userRoleStatus = TempData["UserRoleStatus"];
}

<h2>Apply For Role</h2>

<form asp-action="AddUserRoleStatus" asp-controller="Home" method="post">
    <input type="hidden" name="roleName" value="Reviewer" />
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Apply for Reviewer Role</button>
</form>

<form asp-action="AddUserRoleStatus" asp-controller="Home" method="post">
    <input type="hidden" name="roleName" value="Educator" />
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Apply for Educator Role</button>
</form>

@if (appliedForRole == true)
{
    <script>
        alert('Successfully applied for role!');
    </script>
}
@if (userRoleStatus == "Unknown")
{
    <p>Appliement is either rejected or you haven't yet applied for the role.</p>
}
@if (userRoleStatus != "Unknown")
{
    <p>Status: @userRoleStatus</p>
}

@*
<!--We decided to left this here in case that frontend needs this, if frontend deems this useless, they can delete it-->

<!--For testing purposes-->
@if (User.IsInRole("Reviewer"))
{
    <p>Reviewer</p>
}
@if (User.IsInRole("Educator"))
{
    <p>Educator</p>
}
*@