@page
@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/tasks.css" asp-append-version="true"/>
<script>
    var viewBagMessage = '@ViewBag.Message';
    var viewBagResponse = @Html.Raw(ViewBag.Response);
</script>
<script src="~/js/tasks.js" asp-append-version="true"></script>

<h2>All tasks</h2>
<div id="alltasks"></div>

<h2>Current tasks</h2>
<div id="currenttasks"></div>

