@{
    //This has to be added if we want to perform role based operations in the view
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="~/css/header.css" asp-append-version="true">

<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light pe-lg-4 pe-0" asp-area="" asp-controller="Home" asp-action="Chat"><img src="~/images/message-solid.svg" class="header-icon" alt="Icon">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light pe-lg-4 pe-0" asp-area="" asp-controller="Pdf" asp-action="ViewPublicMaterial"><img src="~/images/book-solid.svg" class="header-icon" alt="Icon">View public material</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light pe-lg-4 pe-0" asp-area="" asp-controller="Home" asp-action="Calendar"><img src="~/images/calendar-days-solid.svg" class="header-icon" alt="Icon">View calendar</a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-light pe-lg-4 pe-0" asp-area="" asp-controller="Admin" asp-action="ControlPanel"><img src="~/images/users-solid-white.svg" class="header-icon2" alt="Icon">Control panel</a>
            </li>
        }
    }
</ul>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img src="~/images/user-solid.svg" class="header-icon" alt="Icon">Account management
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>