.container:has(> main:first-child) {
    margin: 0 1vw 0;
    padding: 0;
    max-width: fit-content;
}

main {
    width: auto;
}

.row {
    margin: 0;
}

.col {
    outline: 1px solid black;
}

h2 {
    font-size: 1.7rem;
}

p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

#site-div {
    width: auto;
}

#left-div {
    width: 25%;
}

#eventForm {
    width: 100%;
}

#calendarContainer {
    width: auto;
    margin: 0;
    min-width: 70vw;
    padding: 0 .75rem 0;
}

#monthLabel {
    text-align: center;
}

.btn-primary {
    width: 150px;
    text-align: center;
    background-color: #5172FF;
}

.day-cell {
    width: 100%;
    height: 15vh;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
}

.day-cell:has(.plus-sign):hover {
    background-color: #e8f5e9;
    cursor: pointer;
}

.day-cell .plus-sign {
    font-size: 2.25em;
    color: black;
    pointer-events: none;
}

.day-placeholder {
    height: 100px;
    visibility: hidden;
}

/* container eventa u kalendaru */
.event-container {
    max-height: 75%;
    width: 100%;
    background-color: #5172FF;
    border-radius: 5px;
}

/* event u daycell-u */
.event-text {
    position: relative;
    font-size: 1.1em;
    white-space: normal;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    color: white;
    width: 98%;
    text-align: center;
    /*max-height: 100px;*/
    overflow-y: auto;
    padding: 5px;
    pointer-events: auto;
}

#eventForm {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #5172FF;
}

#showFormButton {
    margin-bottom: 10px;
}

.delete-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 0.8em;
    z-index: 10;
    pointer-events: auto;
}

@media (max-width: 768px) {
    #site-div {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    
    #left-div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
    }
    
    .row {
        width: 93vw;
        max-width: 93vw;
    }
}