.container:has(> main:first-child) {
    margin: 0 3vw 0;
    padding: 0;
    max-width: fit-content;
}

main {
    width: auto;
}

.row {
    margin: 0;
}

.col {
    outline: 1px solid black;
}

h2 {
    font-size: 1.7rem;
}

p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

#site-div {
    width: auto;
}

#left-div {
    width: auto;
}

#eventForm {
    width: 100%;
}

#calendarContainer {
    padding: 0;
    width: auto;
    margin: 0;
    min-width: 70vw;
}

.btn-primary {
    width: 150px;
    text-align: center;
    background-color: #5172FF;
}

.day-cell {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.day-placeholder {
    height: 100px;
    visibility: hidden;
}

/* container eventa u kalendaru */
.event-container {
    max-height: 100px;
    width: 100%;
    background-color: #5172FF;
    border-radius: 5px;
}

/* event u daycell-u */
.event-text {
    position: relative;
    font-size: 1.1em;
    white-space: normal;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    color: white;
    width: 98%;
    text-align: center;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
}

/*
.delete-icon {
    position: absolute;
    top: 25%;
    right: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
}

.delete-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}
*/

#eventForm {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #5172FF;
}

#showFormButton {
    margin-bottom: 10px;
}

.add-event-btn {
    font-size: 0.8em;
    padding: 2px 5px;
    display: none;
}

.day-cell:hover .add-event-btn {
    display: block;
}

/* promijeniti kasnije da mijenja samo generirane container
.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}*/