.header-logo{
    width: 47px;
    padding-right: 5px;
}

.header-icon{
    width: 23px;
    padding-right: 7px;
    padding-bottom: 2px;
}

.header-icon2{
    width: 28px;
    padding-right: 7px;
    padding-bottom: 2px;
}