.card-design {
    max-width: 850px;
    margin: auto;
    padding: 10px;
    border-radius: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.card-subtitle {
    padding: 20px;
}

.resize-disable {
    resize: none;
}

.form-bg-color, .form-bg-color:hover, .form-bg-color:active, .form-bg-color:focus, .form-bg-color:disabled {
    background: #CCD5FF;
}

.apply-role {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 10px;
}

.button-role {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    gap: 15px;
}

.nav-bg-color {
    background: #CCD5FF;
}

.inbox-container {
    min-width: 40%;
}

.form-container {
    min-width: 60%;
    max-width: 80%;
}

.navbar-size {
    min-height: 50px;
    max-height: 600px;
    overflow-y: auto;
    min-width: 250px;
    max-width: 500px;
}

.application-size {
    height: 600px;
    overflow-y: auto;
}

.nav-pills .nav-link {
    background-color: white !important;
    color: black !important;
}

@media only screen and (max-width: 1200px) {
    .navbar-size {
        max-height: 200px;
    }

    .inbox-container {
        min-width: 20%
    }

    .form-container {
        min-width: 100%;
    }

    .application-size {
        height: 500px;
    }
}
